<div class="container">
    <table class="table">
        <tr>
            <td>
                <h3>All Albums</h3>
                <button type="button" class="btn btn-default" ng-click="sortByTitle()">Sort by Title</button>
                <button type="button" class="btn btn-default" ng-click="resetOrder()">Reset</button>
            </td>
            <td></td>
        </tr>
        <tr ng-repeat="album in albums">
            <td ng-show="album.id">{{album.title}}</td>
            <td ng-show="album.id">
                <a class="btn btn-primary" ui-sref="detail({id: album.id})">View</a>
                <a class="btn btn-danger" ng-click="delete(album)">Delete</a>
            </td>
        </tr>
    </table>
</div>